<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div class="row">
<h1>Report API</h1>

    </div>

    <div class="row">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">Interface</th>
                    <th scope="col">#</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">/api/v3/transactions/report </th>
                    <td><a href="/report">Get Report</a></td>
                </tr>
                <tr>
                    <th scope="row">/api/v3/transaction/list</th>
                    <td><a href="/reportlist">Get Report</a></td>
                </tr>
                </tbody>
            </table>

        </h1>
    </div>
</div>
</body>
</html>