<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>




<div class="container">
    <div class="row">
        <h1>Report</h1>

    </div>

    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">Count</th>
                <th scope="col">Total</th>
                <th scope="col">Currency</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item: ${ViewModel}">
                <td th:text="${item.count}" />
                <td th:text="${item.total}" />
                <td th:text="${item.currency}" />
            </tr>

            </tbody>
        </table>

        </h1>
    </div>
</div>

</body>
</html>